body{
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.projects-container{
    flex: 1;
}

header{
    background-color: rgb(33, 33, 48);
    color: white;
    display: flex;
    justify-content: space-between;
    padding: 20px;
    
}

header nav a{
    color: white;
    
}

.bg{
   background-image: url("images/proj.png"); 
   align-content: center;
   text-align: center;
   height: 400px;
}

h3{
    text-align: center;
}

div{
        display: flex;
        flex-wrap: wrap;

}

div p{
    background-color: beige;
    margin: 20px;
    padding: 20px;
}

footer{
        background-color: rgb(33, 33, 48);
        color: white;
        justify-items: center;
        width: 100%;
}